
  <div class="container" style="height: 92.3vh;
  background-color: slategrey;
  padding: 0;
  margin: 0;
  max-width: 100%!important;overflow-y: hidden;">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/sinar.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px;margin: 25vh auto 0;" />
      </div>
    </div>
  </div>


  <div>DDDDD</div>
  <div>DDDDD</div><div>DDDDD</div><div>DDDDD</div><div>DDDDD</div><div>DDDDD</div><div>DDDDD</div>
